.carusel {
	width: 400px;
	height: 300px;
	overflow: hidden;
	border: 5px solid violet;
	border-radius: 5px;
   float:left;
}
.caruselWithControls {
	width: 550px;
	margin: 0 auto;
}
.carusel ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width : 2000px;
}
.carusel li {
	width: 400px;
	height: 300px;
	display: inline-block;
	float: left;
}
.carusel img {
	width: 400px;
	height: 300px;
}
#left, #right {
   display: inline;
   float:left;
   position:relative;
   margin: 125px 10px 0;
}